/**
Colors: grey-green-blue: #2E5459aa
        off-white: #e1e1e1

 */

body {
  /* background image styling with relative pathing to public directory */
  background-image: url('./../public/nujabes_background.webp');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  text-align: center;

  max-width: 40rem;
  margin: 3rem auto;
  color: #e1e1e1;
}

main {
  background-color: #2e5460dd;
  border-radius: 1rem;

  box-shadow: 0rem 0rem 5rem 10rem #2e5460dd;
}

h1 {
  font-family: 'Playwrite AU SA';
  font-size: 3rem;

  line-height: 5rem;

  margin: 4rem 0rem;
}

h2 {
  font-size: 2.5rem;
}

h2,
h5 {
  font-family: 'Nerko One';
}

h3 {
  font-family: 'Open Sans';
  font-size: 2.2rem;

  margin: 0.5rem;
}

h4 {
  font-family: 'Caveat';
  font-size: 2rem;

  margin-bottom: 0.5rem;
}

h5 {
  font-size: 0.8rem;
}

.chorus-text {
  padding: 2rem 1rem 0rem 0rem;
}

.verse-text {
  padding: 2rem 0rem 0rem 1rem;
}
